<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.css">
</head>

<body>
    <!--Header-->
    <div class="header">
       
    </div>

    <!--Container-->
    <div class="container">
        <h1>Hello world !</h1>
    </div>
    <!--end of container-->
    </div>

    <!--Footer-->
    <div class="footer">

    </div>

    <!--Scripts-->
    <script src="/libs/jquery/jquery.js"></script>
    <script src="/libs/bootstrap/js/bootstrap.js"></script>

</body>

</html>